html {
    font-size: 12px;
}

body {
    font-family: "Poppins" !important;
}

.fs-5-6 {
    font-size: 1.05rem !important;
}

.mb-6 {
    margin-bottom: 6rem;
}

.text-tranformation-none {
    text-transform: none !important;
}

.order-6 {
    order: 6 !important;
}

.order-7 {
    order: 7 !important;
}

.order-8 {
    order: 8 !important;
}

.order-9 {
    order: 9 !important;
}

.order-10 {
    order: 10 !important;
}

.order-11 {
    order: 11 !important;
}

.container-width-90 {
    width: 90% !important;
}

.container-width-100 {
    width: 100% !important;
}

.main-container {
    margin: 24px;
}

.main-container .header{
    width: 85%;
}

.main-container .header .title-container .logo-container .company-name {
    letter-spacing: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-container .header .title-container .logo-container hr {
    width: 60%;
}

.main-container .header .info {
    font-size: 10px;
}

.main-container #orchard-section #orchard-table thead tr th{
    background-color: #B6D7A8;
}

.main-container #orchard-section #orchard-table tfoot tr td {
    background-color: #D9D9D9;
}

.main-container #chemical-section .chemical-sub-section .chemical-sub-section-title {
    background-color: #D5D5D5;
}

.main-container #chemical-section .chemical-sub-section .table thead tr th {
    background-color: #E9D1DF;
}

.main-container #tractor-calibration-table thead tr th {
    background-color: #D4E1F4;
}

.main-container .footer .section-1-2 {
    width: 80%;
}

.main-container .footer .section-1-2 #section-1>div:first-child {
    width: 20rem;
}

.main-container .footer .section-1-2 #section-1>div:nth-child(2), .main-container .footer .section-1-2 #section-2>div:nth-child(2) {
    width: 40rem;
}

.main-container .footer .section-1-2 #section-1>div:nth-child(2)>div:first-child {
    width: 5rem;
}

.main-container .footer .section-1-2 #section-1>div:nth-child(2)>div:nth-child(2) {
    width: 13rem;
}

.main-container .footer .section-1-2 #section-1>div:nth-child(2)>div:last-child {
    width: 13rem;
}

.main-container .footer .section-1-2 #section-1>div>div>span:first-child {
    height: 18px;
}

.main-container .footer .section-1-2 #section-2 {
    margin-top: 2rem;
}

.main-container .footer .section-1-2 #section-2>div:last-child>div:last-child {
    width: 13rem;
}

.main-container .footer .section-1-2 #section-2 .img-container {
    height: 30px;
    width: 30px;
}

/* Custom scrollbar starts*/
/* width */
body::-webkit-scrollbar {
    width: 8px;
}
.table-container::-webkit-scrollbar {
    height: 5px;
}

/* Track */
body::-webkit-scrollbar-track, .table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb, .table-container::-webkit-scrollbar-thumb {
    background: #CED4DA;
    border-radius: 5px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #CCCCCC;
}
.table-container::-webkit-scrollbar-thumb:hover {
    background: #CCCCCC;
    cursor: pointer;
}
/* Custom scrollbar ends*/

@media (min-width: 576px) {
    .order-sm-6 {
        order: 6 !important;
    }
    .order-sm-7 {
        order: 7 !important;
    }
    .order-sm-8 {
        order: 8 !important;
    }
    .order-sm-9 {
        order: 9 !important;
    }
    .order-sm-10 {
        order: 10 !important;
    }
    .order-sm-11 {
        order: 11 !important;
    }
    .field-title.w-sm-80 {
        width: 80% !important;
    }
    .w-sm-110 {
        width: 110% !important;
    }
}

@media (min-width: 768px) {
    .order-md-6 {
        order: 6 !important;
    }
    .order-md-7 {
        order: 7 !important;
    }
    .order-md-8 {
        order: 8 !important;
    }
    .order-md-9 {
        order: 9 !important;
    }
    .order-md-10 {
        order: 10 !important;
    }
    .order-md-11 {
        order: 11 !important;
    }
    .field-title.w-md-65 {
        width: 65% !important;
    }
}

@media (min-width: 992px) {
    .order-lg-6 {
        order: 6 !important;
    }
    .order-lg-7 {
        order: 7 !important;
    }
    .order-lg-8 {
        order: 8 !important;
    }
    .order-lg-9 {
        order: 9 !important;
    }
    .order-lg-10 {
        order: 10 !important;
    }
    .order-lg-11 {
        order: 11 !important;
    }
    .field-title.w-lg-50 {
        width: 50% !important;
    }
    .field-title.w-lg-70 {
        width: 70% !important;
    }
}

@media (max-width: 670px) {
    .main-container .footer {
        flex-direction: column;
    }
    .main-container .footer .section-1-2 {
        width: 100%;
    }
    .main-container .footer .section-1-2 #section-1{
        flex-direction: column;
    }
    .main-container .footer .section-1-2 #section-1>div:nth-child(2) {
        width: 100%;
        margin-top: 0.5rem;
    }
    .main-container .footer .section-1-2 #section-2>div:first-child {
        width: 16rem;
    }
    .main-container .footer .section-1-2 #section-2>div:nth-child(2) {
        margin-left: 3rem;
    }
    .main-container .footer #section-3 {
        margin-top: 2rem;
    }
}

@media (min-width: 670px) and (max-width: 992px) {
    .main-container .footer .section-1-2 #section-1{
        flex-direction: column;
        height: 8rem;
    }
    .main-container .footer .section-1-2 #section-1>div {
        align-self: flex-start;
    }
    .main-container .footer .section-1-2 #section-2 {
        margin-top: 3rem;
        justify-content: flex-start !important;
    }
    .main-container .footer .section-1-2 #section-2>div:nth-child(2) {
        width: 25rem;
        margin-left: 2rem;
    }
    .main-container .footer #section-3 {
        width: 20%;
    }
}